*{
    margin:0;
    padding: 0;
}

.number{
  background-color: white;
  text-align: center;
  display: flex;
  width: 250px;
  height: 250px;
  flex-direction: column;
  justify-content:space-around;
  border-radius: 5%;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.number p{
    font-size: larger;
    font-weight: bold;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

.number h1{
  font-size: 300%;
}

.one{
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

.two{
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}
